{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",

  /* React / Client Specific */
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",

  "vueIndentScriptAndStyle": false,

  /* General Typescript */
  "requirePragma": false,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
